@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,600;6..12,700;6..12,800&family=Poppins:wght@400;500;700&display=swap');

.bkgrnd-col{
    background-image: linear-gradient(rgb(248, 204,184, 1), rgba(254, 219,203, 1));
}

.markblue{
    border: 3px solid blue;
}

.aboutussection{
    /* background-color: rgb(252, 213, 194); */
    height: fit-content;
}

.underliner-dark{
    border-bottom: 1em solid rgb(157, 97,106, 1);
}

.stdtitle{
    font-size: 4em;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 600;
    letter-spacing: 8px;
    color: rgb(157, 97,106, 1);
    text-decoration: underline solid 3px rgb(157, 97,106, 1);
    margin: 0%;
    transition: 0.3s;
}

.stdtext{
    width: 55rem;
    font-size: 1.65rem;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    color: black;
    text-decoration: underline solid black 0.5px;
}

#about-logo{
    width: 16rem;
    height: auto;
    transition: 0.3s;
}

#about-logo-cont{
    width: 25rem;
    display: flex;
    justify-content: end;
    align-items: end;
    margin-right: 7rem;
    margin-left: 4rem;
}

.stdtitle-div{
    padding-top: 12vh;
    margin-bottom: 2.7rem;
}

.subtitle-contact{
    width: auto;
    text-align: center;
    font-size: 2em;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    margin-bottom: 2em;
    text-decoration: underline solid black 2px;
    padding-bottom: 0rem;
}

#subtitle-below{
    font-weight: 400;
}

#about-us-txt{
    /* width: auto; */
    /* margin-bottom: 2em; */
    width: 60rem;
    font-size: 1.8rem;
    margin-left: 3rem;
    margin-right: 4rem;
    transition: 0.3s;
}

#about-text-cont{
    margin-left: 6em;
    /* margin-right: 5em; */
    height: fit-content;
}

/* Contact css section */
.contactsection{
    /* background-color: rgb(252, 213, 194); */
    padding-bottom: 5rem;
    height: auto;
}

#email-bar{
    background-color: azure;
    border-radius: 5rem;
    overflow: hidden;
    width: 65rem;
    height: 6rem;
    display: flex;
    transition: 0.5s;
}

.email-form{
    border: none;
    height: 6rem;
    flex: 1;
    padding-left: 2em;
    font-size: 2em;
    text-decoration: underline solid black 2px;
    background-color: azure;
    outline: none;
    padding-top: 0%;
    margin: 0%;
    flex-shrink: 1;
    transition: 0.5s;
}

.email-form::placeholder{
    color: black;
}

#submit-button{
    background-color: rgb(157, 97,106, 1);
    height: 6rem;
    width: 13rem;
    border: none;
    padding-bottom: 0.205em;
    margin: 0%;
    font-size: 2em;
    color: azure;
    text-decoration: underline solid azure 2px;
    transition: 0.5s;
    flex-shrink: 1;
}

#submit-button:hover{
    width: 19rem;
    border-top-left-radius: 15rem;
    border-bottom-left-radius: 15rem;
    background-color: rgb(177, 121, 129);
    letter-spacing: 0.12em;
}

#more-contact-cont{
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 5rem;

}

.contact-cont{
    height: fit-content;
}

.contact-cont .subtitle-contact{
    text-align: start;
    margin-bottom: 0%;
}

.line-logo{
    height: 2.7em;
}

.contact-tag{
    font-size: 1.65rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin-left: 0.5em;
}

.cont-box{
    margin-top: 7px;
}


/* css for footer section */
.footersection{
    background-color: rgba(249, 205,185, 1);
    height: fit-content;
}

#footer-socialmed{
    width: fit-content;
}

#himti-logo{
    margin-right: 1.5rem;
    width: 13rem;
    height: auto;
}

#binus-logo{
    margin-left: 1.5rem;
    width: 19rem;
    height: auto;
}

.footer-logo-cont{
    margin-bottom: 3.5rem;
}

.footer-cont{
    margin-left: 140px;
    margin-right: 145px;
    margin-bottom: 3.5rem;
    margin-top: 5rem;
}

#copy-right-text{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 1.65rem;
    text-decoration: underline;
    text-align: center;
    
}

.footer-txt{
    font-size: 1.65rem;
    font-weight: 400;
    font-family: 'Nunito Sans', sans-serif;
    text-decoration: underline;
    line-height: 32.74px;
    color: black;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 1em;
}

.footer-sosmed-logo{
    height:2rem;
}

@media (max-width:1320px){
    #about-us-txt{
        font-size: 1.5rem;
    }
}

@media (max-width:1080px) {
    #about-us-txt{
        font-size: 2.2vw;
        width: 60rem;
        /* font-size: 1.8rem; */
        margin-left: 3vw;
        margin-right: 3vw;
        transition: 0.3s;
    }

    #about-logo{
        width: 18vw ;
    }

    #about-logo-cont{
        width: 60vw;
        display: flex;
        justify-content: end;
        align-items: end;
        margin-right: 3vw;
        margin-left: 5vw;
    }

    .line-logo{
        width: 3.5vw;
        height: fit-content;
    }

    .subtitle-contact{
        font-size: 1.2em;
    }

    .stdtext{
        font-size: 2vw;
    }

    .contact-tag{
        font-size: 2vw;
    }

    #subtitle-below{
        font-size: 1.5em;
    }

    .stdtitle{
        font-size: 3em;
        letter-spacing: 6px;
    }

    #email-bar{
        width: 100%;
        margin-left: 4em;
        margin-right: 4em;
        height: 4.5rem;

    }
    
    .email-form{
        height: 4.5rem;
        padding-left: 1.6em;
        font-size: 2.5vw;
    }
    
    #submit-button{
        width: 15vw;
        height: 4.5rem;
        font-size: 2.5vw;
    }
    
    #submit-button:hover{
        width: 15rem;
        letter-spacing: 0.12em;
    }

    #himti-logo{
        margin-right: 2vw;
        width: 15vw;
        height: auto;
    }

    #binus-logo{
        margin-left: 2vw;
        width: 19vw;
        height: auto;
    }

    .footer-cont{
        margin-left: 10vw;
        margin-right: 10vw;
        margin-bottom: 3.5rem;
        margin-top: 5rem;
    }

    .footer-sosmed-logo {
        width: 3vw;
        height: auto;
    }

    .footer-txt{
        font-size: 2vw;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        margin-left: 1em;
    }

    #copy-right-text{
        font-size: 2vw;
    }
}

@media (max-width:640px) {
    #about-us-txt{
        font-size: 3vw;
        width: 60rem;
        /* font-size: 1.8rem; */
        margin-left: 3vw;
        margin-right: 4vw;
        transition: 0.3s;
    }

    #email-bar{
        width: 100%;
        margin-left: 4em;
        margin-right: 4em;
        height: 8vw;
    }

    .email-form{
        height: 8vw;
        padding-left: 1.6em;
        font-size: 2.5vw;
    }
    
    #submit-button{
        width: 15vw;
        height: 8vw;
        font-size: 2.5vw;
    }

    #submit-button:hover{
        width: 20vw;
        letter-spacing: 0.12em;
    }

    #more-contact-cont{
        margin-left: 3vw;
        margin-right: 3vw;
    }

    .contact-tag{
        font-size: 2.4vw;
    }

    #copy-right-text{
        font-size: 2.5vw;
    }

    .footer-txt{
        font-size: 2.4vw;
    }

    .stdtitle{
        font-size: 2.5em;
        letter-spacing: 4px;
    }

    .stdtext{
        font-size: 2.3vw;
    }

    #subtitle-below{
        font-size: 1em;
    }
}