@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,600;6..12,700;6..12,800&family=Poppins:wght@400;500&display=swap');

.eventsection{
    background-color: rgb(157, 97,106, 1);
    width: 100%;
    height: fit-content;
}

#eventtitle-div{
    padding-top: 12vh;
    margin-bottom: 4rem;
}

#eventtitle{
    font-size: 4em;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 600;
    letter-spacing: 8px;
    color: azure;
    text-decoration: underline solid 3px azure;
    margin: 0%;
    transition: 0.3s;
}

#underliner{
    border-bottom: 1em solid azure;
}

.cardimg{
    /* border-top-right-radius: 2rem;
    border-top-left-radius: 2rem; */
    /* object-fit: cover; */
    height: 20rem;
    width: auto;

}

.card-text{
    text-align: center;
    font-size: 0.93em;
    text-decoration: underline;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.card-body{
    background-color: #ffff;
    padding-left: 3em;
    padding-right: 3em;
}

.card-title{
    margin-bottom: 0.7em;
    font-size: 1.7em;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-decoration: underline;
}

.card{
    background-color: black;
    box-shadow: 0em 1em 2em 0em rgba(0, 0, 0, 0.3);
    /* background-color: cyan; */
    border-radius: 2rem;
    width: 27rem;
    height: 41.9rem;
    overflow: hidden;
    margin: 4em;
    transition: 0.5s;
}

.card:hover {
    box-shadow: 0 2em 4em 0.5em rgba(0,0,0,0.4);
}

.bgblue{
    background-color: aqua;
}

#card-text-cont{
    height: 9.5em;
}

#cont-encase{
    display: flex;
    align-items: center;
    height: 6em;
    margin-bottom: 1em;
}

#card-cont{
    padding-bottom: 1rem;
}

.regist-button{
    padding-right: 1.5em;
    padding-left: 1.5em;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    border: none;
    border-radius: 3em;
    text-decoration: underline;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    letter-spacing: 0.07em;
    font-size: 1.5em;
    color: azure;
    background-color: rgb(157, 97,106, 1);
    transition: 0.5s;
}

.regist-button:hover{
    background-color: rgb(177, 121, 129); 
    letter-spacing: 0.2em;
}

@media (max-width:1080px) {
    #topcards{
        display: flex;
        flex-direction: column !important;
    }

    .card{
        width: 22rem;
        height: 34.9rem;
        margin-left: 0px;
        margin-right: 0px;
    }

    .card-title{
        font-size: 1.3em;
        margin-bottom: 0.5;
    }

    .card-text{
        font-size: 0.8em;
    }
    
    .card-body{
        padding-left: 3em;
        padding-right: 3em;
    }

    .cardimg{

        height: 15rem;
        width: auto;
    
    }

    .regist-button{
        padding-right: 1em;
        padding-left: 1em;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        letter-spacing: 0.05em;
        font-size: 1.2em;
    }

    .regist-button:hover{
        letter-spacing: 0.15em;
    }

    #eventtitle{
        font-size: 3em;
    }
}

